body {
    font-family: monospace;
    background-color: rgb(91, 103, 152);
}

ul {
    font-family: helvetica;
}

p {
    font-size:40px;
    font-family:Arial;
    font-weight:bold;
    letter-spacing:4px;
    text-decoration:underline;
    text-transform:capitalize;
    text-align:center;
    border-width:2px;
    border-color:rgb(101, 101, 188);
    border-style:solid;
    text-indent:30px;
    background-color: rgb(255, 255, 255);
}

p1 {
    font-size:16px;
    text-align:center;  
    font-family: helvetica;  
}

li {
    font-size:16px;  
    font-family: helvetica;

}


#perfil {
    column-count:2;
    width: 175%;
    background-color: rgb(147, 196, 227);
}

#skills {
    column-count:2;
}

th{
    font-size:16px;  
    font-family: helvetica;
    border-width:8px;
    text-indent:30px;
}

tr{
    font-size:14px;  
    font-family: helvetica;
}

#nombre{
    font-size:28px;  
    font-family: Arial;
    border-width:8px;
    text-indent:30px;
    text-align:center;
}



