.navbar-container{
    background:#3f454f;
    display: flex;
    padding: 1rem;
}

.navbar{
    display: flex;
    list-style: none;
    margin:0;
    
}

.navbar .nav-item{
    padding: 1rem 0.5rem;

}

.navbar-container .navbar .nav-item a{
    color:#ffffff;
    text-decoration: none;
}
.navbar .nav-item a:hover{
    color: #0d6efd;
    cursor: pointer;
  }