body {
    font-family: Arial, Helvetica, sans-serif;
    color: #F8EF4B;
    margin: 0px;
}

.header-title {
    text-align: center;
    padding: 30px 0px;
}


.header-title>h1 {
    font-size: 60px;
}

.header-title>h4 {
    font-size: 25px;
    font-weight: 100;
}

hr.solid {
    border-top: 3px solid #bbb;
    margin: auto;
    width: 90%;
}

th, td {
    padding: 30px 70px;
    width: 50%;
}

td.border{
    border: 1px;
}

.column{
    vertical-align: top;
}

.text-color{
    color: white;
    white-space: pre-line;
}

.text-title{
    color: white;
    font-weight: bold;
    margin-bottom: 8px;
}

.date{
    color: white;
    white-space: pre-line;
    margin-top: 0px;
    font-size: 13px;
}

.contact-icon{
    margin-left: 8px;
    margin-right: 8px;
    color: #F8EF4B;
}

.list-skills{
    list-style: none;
    padding-left: 0px;
}

.list-skills li{
    margin-bottom: 15px;
}

.list{
    padding-left: 19px;
    border-left: solid;
    border-color: white;
}

.list li::marker {
    font-size: 30px;
}

.experience, .education{
    margin-bottom: 70px;
}

.profile{
    margin-bottom: 130px;
}

.contact{
    margin-bottom: 100px;
}

.skill{
    margin-left: 30px;
}

.skill-color{
    width: 85px;
    float: left;
    color: white;
    white-space: pre-line;
}

@media screen and (max-width: 600px) {
    .container {
        margin: auto;
        max-width: 100%;
        background-color: #3A637F;
    }

    th, td {
        padding: 30px 10px;
        width: 50%;
    }

    .skill {
        margin-left: 0px;
    }
}

@media screen and (min-width: 600px) {
    .container {
        margin: auto;
        max-width: 50%;
        background-color: #3A637F;
    }
}

