/* Normalizacion de box*/

html {
    box-sizing: border-box; /*Border box impide que se sumen las dimensiones del padding al width*/
    
}
*, *:before, *::after{
    box-sizing: inherit;
} 


.header {
    background-color: rgb(51, 51, 51); 
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("https://cdn.shopify.com/s/files/1/0120/6485/0016/files/bikes-take-the-turn_2000x.jpg?v=1613735630"); 
    min-height: 150px;
}

.custom-title {
    padding-top: 80px;
    padding-left: 40px;
    color: white;
    font-weight: bold;
}

.detalle-compra {
    padding-left: 10%;
    padding-top: 2%;
    padding-right: 10%;
}

.footer-detalle {
    text-align: right;
}

.total-compra{
    background-color: #F9F9F9;
    padding-left: 30px;
    padding-top: 2%;
    padding-right: 30px;
   
}