* {
    font-family: 'Arial Narrow';
    font-style: normal;
    background-color: rgb(236, 237, 240);
}
header span {
    font-size :x-small;
    font-weight: bold;
    color: black;
}
header input {
    vertical-align: middle;
}
h1, h2, h3 {
    color: rgb(1, 18, 45);
}
p {
    color:rgb(0, 0, 0);
    justify-content:safe;
}
hr {
    height: 2px;
    background-color: rgb(0, 0, 0);
}
th {
    height: 2px;
    color: rgb(0, 0, 0);
    padding: 0 10px;
}
li { 
    color: rgb(6, 28, 48);
    position: relative;
}
li:before {
    position: absolute;  
    top: 8px;  
    margin: 8px 0 0 -12px;    
    vertical-align: middle;
    display: inline-block;
    width: 2px;
    height: 100%;
    background: rgb(0, 0, 0);
    content: "";
}

body {
    width: 80%;
    margin: 5% auto;
}
img {
    max-width: 40px;
    max-height: 40px;
}

.header {
    text-align: center;
}
.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2%;
    text-align: justify;
}
.col1{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.col2{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hobbies > table  th {
    border-right: 2px solid;
}
.hobbies > table th:last-child {
    border-right: none;
}
.tabletext {
    text-align: left;
}
.circlesyellow {
    background: rgb(255, 128, 0);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.circlesgray {
    background: gray;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}
.skillstable th {
    padding-bottom: 10px;
}
.circles th{
    padding-right: 0.1em;
}

/*Toggle button */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.sliderRound {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(1, 18, 45);
    border-radius: 34px;
}
.sliderRound:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
}
#daynightradio:checked + .sliderRound:before {
    transform: translateX(10px);
}