body{
	
	background-color: lightgray;
	padding: 40px;
}

#inlineFormCustomSelectCountry, #inlineFormCustomSelectState, #validationCustom05{
	
	width: 100%;
}


.circulo {
	
	background: #464646;
	 color: white;
     width: 25px;
     height: 25px;
     border-radius: 45%;
	text-align: center;
}

.table-active{
	color: green;
}

#b_sub{

	width: 100%;
}

